specifications/devices.dtd

<!ELEMENT devices (device*)>
<!ELEMENT device (name,manufacturer,refresh,features?,modules)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>
<!ELEMENT features (refresh?, battery?, led?)>
<!ELEMENT refresh EMPTY>
<!ELEMENT battery EMPTY>
<!ELEMENT led EMPTY>

<!ELEMENT modules (module+)
<!ELEMENT module (name,((is-actor,(constraints|values))|values),rules?)>

<!ELEMENT values (value+)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT constraints (min?, max?, granularity)>
<!ELEMENT is-actor EMPTY>

<!ELEMENT min (#PCDATA)>
<!ELEMENT max (#PCDATA)>
<!ELEMENT granularity (#PCDATA)>

<!ELEMENT rules (if+)>
<!ELEMENT if (hide-module+)>

<!ELEMENT hide-module (#PCDATA)>

<!ATTLIST refresh
        default         CDATA   #REQUIRED
        >

<!ATTLIST devices
        version         CDATA   #REQUIRED
        >

<!ATTLIST device
        id              ID      #REQUIRED
        name            ID      #REQUIRED
        >

<!ATTLIST module
        id              CDATA   #REQUIRED
        type            CDATA   #REQUIRED
        offset          CDATA   #REQUIRED
        order           CDATA   #REQUIRED
        >

<!ATTLIST values
        name            CDATA   #REQUIRED
        >

<!ATTLIST value
        id              CDATA   #REQUIRED
        >

<!ATTLIST if
        value           CDATA   #REQUIRED
        >

<!ATTLIST hide-module
        id              CDATA   #REQUIRED
        >
