specifications/devices.dtd

<!ELEMENT devices (device*)>
<!ELEMENT device (name,refresh,led?,battery?,manufacturer,modules)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>
<!ELEMENT refresh (#PCDATA)>
<!ELEMENT led (#PCDATA)>
<!ELEMENT battery (#PCDATA)>

<!ELEMENT modules (module+)
<!ELEMENT module (name,actor,(constraints|values),rules?)>

<!ELEMENT values (value+)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT constraints (min?, max?, granularity)>
<!ELEMENT actor (#PCDATA)>

<!ELEMENT min (#PCDATA)>
<!ELEMENT max (#PCDATA)>
<!ELEMENT granularity (#PCDATA)>

<!ELEMENT rules (if+)>
<!ELEMENT if (hide-module+)>

<!ELEMENT hide-module (#PCDATA)>

<!ATTLIST devices
        version         CDATA   #REQUIRED
        >

<!ATTLIST device
        id              ID      #REQUIRED
        name            ID      #REQUIRED
        >

<!ATTLIST module
        id              CDATA   #REQUIRED
        type            CDATA   #REQUIRED
        offset          CDATA   #REQUIRED
        order           CDATA   #REQUIRED
        >

<!ATTLIST values
        name            CDATA   #REQUIRED
        >

<!ATTLIST value
        id              CDATA   #REQUIRED
        >

<!ATTLIST if
        value           CDATA   #REQUIRED
        >

<!ATTLIST hide-module
        id              CDATA   #REQUIRED
        >
