specifications/types.dtd

<!ELEMENT types (type*)>
<!ELEMENT type (name, var, unit?, transform?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT var (#PCDATA)>
<!ELEMENT unit (#PCDATA)>
<!ELEMENT transform (from, to)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>

<!ATTLIST types
        version         CDATA   #REQUIRED
        >
<!ATTLIST type
        id              CDATA   #REQUIRED
        >
<!ATTLIST var
        size            CDATA   #REQUIRED
        >
